body {
  background-color: #2b5f88;
  color: #d8e7f3
}

h1 {
  
}

#container {
  width: 100%;
  
}

label {
  display:block;
  box-sizing:border-box;
  margin:auto;
}

input {
  display: block;
  box-sizing: border-box;
  margin:auto;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
 width: 10em;
 background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  
}


@media only screen and (min-width: 1025px) {
  body {
    background-color: blue;
  }
  
  input {width:300px;}

  label {
    width: 10%;
    float:left;
  }
}
