body {
  background-color: #2b5f88;
  color: #d8e7f3
}

h1 {
  
}

#container {
  
}

label {
  display:block;
  box-sizing:border-box;
  margin:auto;
}

input {
  display: block;
  box-sizing: border-box;
  margin:auto;
}

input[type=submit] {
  
}
